@import "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css";
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #666;
	background-image: url(../images/codeBack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: .5rem;
}

.content {
  flex: 1 0 auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.container, 
.footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f0f8ff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.App.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.container h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

.container h5 {
  font-size: 1rem;
}

#linkhome {
  position: absolute;
  font-size: 12px;
  top: 10px;
  left: 15px;
  z-index: 999;
}
#github, #thatsme {
  position: absolute;
  bottom: 10px;  
  font-size: 12px;
}
#thatsme {
  right: 15px;
}

/* Custom page header */
.header {
  border-bottom: none;
  margin-bottom: 0px !important;
  /* Make the masthead heading the same height as the navigation */
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 5px;
}

.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: right;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

.input-spacing {
  margin-bottom: 15px;
}

.searchBox {
  margin-bottom: 15px;
  margin-top: 15px;
}
.searchBox input[type="submit"] {
    border-radius: 5px;
    font-size: 14px;
    margin-left: -25px;
    margin-top: 5px;
}

.font-weight-bold {
  font-weight: bold;
}

.jumbotron {
  text-align: left;
  padding: 10px;
  transition-property: top;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  border: 1px solid #ced4da;
  position: relative;
}
.jumbotron .defaultText {
  font-size: 14px;
  text-align: center;
}
.jumbotron .spinner {
  position: absolute;
  top: 20px;
  left: 45%;
}
.jumbotron .spinner img {
  width: 48px;
}
.jumbotron h3 {
  margin: 0;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
}
.jumbotron .container {
  padding: 5px;
  background-color: #fff;
  padding-left: 10px;

}
.jumbotron .container h5 {
  margin-top: 20px;
}
.jumbotron .container br {
  line-height: 20px;
}
.jumbotron .container .lead {
  text-align: left;
  font-size: 12px;
  padding-top: 5px;
  margin: 0;
  padding-left: 10px;
}
.jumbotron .container .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron .container .flexCols {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: left;
  justify-content: left;
  flex-wrap: wrap;
  padding-left: 10px;
}
.jumbotron .container .flexCols a {
  min-width: 100px;
  max-width: 100px;
  min-height: 25px;
  flex-grow: 1;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jumbotron .container .flexCols :after {
  content: "";
  flex: auto;
}
.jumbotron strong {
  font-weight: bold;
  text-transform: capitalize;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 54rem;
    min-height: 17rem;
  }

  .lead {
    font-size: 12px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* .jumbotron {
    border-bottom: 0;
  } */
}
